/* Login.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .remember {
    margin-bottom: 15px;
  }
  
  .signUp-link {
    text-align: center;
  }
  
  .signUpBtn-link {
    color: #3498db;
    text-decoration: none;
  }
  
  .signUpBtn-link:hover {
    text-decoration: underline;
  }
  